@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

@font-face {
    font-family: 'Ragellia';
    src: url('fontes/Ragellia\ Mellinda.otf');
    font-weight: 400;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    
    line-height: 1.2em;
    text-decoration: none;
}

:root {
    --cor01: #6746B6;
    --cor02: #7F55DA;
    --cor03: #37266B;

    --fonte-padrao: 'Poppins', sans-serif;

}

/*Estilo da Página*/

html, body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
    color: white;
    max-height: 100vh;
    margin: 50px;

    background-image: url(imagens/fundo.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#menu {
    max-width: 300px;
    padding: 10vh;
    border-radius: 10px;
}

h1 {
    font-family: var(--fonte-padrao);
    font-size: 3em;
    padding: 10px;
}

p {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

div {
    padding: 10px;
}

label, input {
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    border: none;
}

button {
    background-color: #6746B6;
    color: white;
    border: none;
    box-shadow: 0px 0px 25px #6d48ddd2;
    text-align: center;
    
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15vh;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.055);
    box-shadow: 0px 0px 25px #6d48dd54;
    transition-duration: 0.2s;
    cursor: pointer;
}